@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html, body {
  font-family: 'Press Start 2P', sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.wrapper {
  background: #1c1c1c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 20px;
}

.rpsButton {
  height: 100px;
  width: 100px;
  font-size: 48px;
  border-radius: 100px;
  cursor: pointer; 
}

.rpsButton:hover{
  background-color:#a7fbd4; 
  border-width:4px;
  border-color:#f8a0e5;
}

.rpsButton:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
/*   box-shadow: 0px 1px 0px 0px; */
}    

#endGameButton{
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: 'Press Start 2P', sans-serif;
  padding: 2rem 2rem;
  cursor: pointer;
  border-radius: 30px;
  
}

#endGameButton:hover {
  background-color:#e36666; 
  border-width:4px;
  border-color:#f8a0e5;
    
}

#endGameButton:active {
  background-color:#b35050; 
  border-width:4px;
  border-color:#f8a0e5;
} 
#endGameButton:focus{
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}   

#resetButton{
  border: none;
  background-color: #1c1c1c;
  color: #eee;
  font-size: 1rem;
  font-family: 'Press Start 2P', sans-serif;
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: 30px;
  
}

 #resetButton:hover{
  color: grey; 
  border-width:4px;
  border-color:#f8a0e5;
    
}

#keyboard-tip {
  margin: 30px auto 0;
  font-size: 0.7rem;
}

.resultContainer {
  font-size: 2rem;
  text-align: center;
  margin: 30px auto;
}

#handsdiv{
  height: 100px;
  width: 400px;
  font-size: 48px;
  border-radius: 30px;
  padding: auto;
  margin:auto;
  color:white
}

#scoreContainer{
  display:flex;
  margin: 10px auto;
}

#result {
  margin-bottom: 30px;
}
