@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html, body {
  font-family: 'Press Start 2P', sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.wrapper {
  background: #1c1c1c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 20px;
}

.rpsButton {
  height: 100px;
  width: 100px;
  font-size: 48px;
  border-radius: 30px;
  cursor: pointer; 
}

.rpsButton:hover{
  background-color:#a7fbd4; 
  border-width:4px;
  border-color:#f8a0e5;
}

.rpsButton:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
/*   box-shadow: 0px 1px 0px 0px; */
}    

#endGameButton{
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 2rem;
  cursor: pointer; 
}

#endGameButton:hover{
    background-color:#e36666;
}

#endGameButton:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}    

.resultContainer {
  font-size: 2rem;
  text-align: center;
  margin: 30px auto;
}

#handsdiv{
  height: 100px;
  width: 100px;
  font-size: 48px;
  border-radius: 30px;
  background-color:white;
  padding: auto;
  margin:auto;
  color:white
}

#scoreContainer{
  display:flex;
  margin: 10px auto;
}

#result {
  margin-bottom: 30px;
}

.start-item{
   position: fixed;
   top: 70px;
   left: 90px;
}

.start-button{
    height: 40px;
    border: 2px transparent solid;
    border-radius: 25px;
    background-color: #EF8CF6;
}
.start-link{
  text-decoration: none;
  color: #080808;
}